body {
  position: relative;
  width: 375px;
  height: 6715px;
}

.header {
  display: flex;
  position: absolute;
  width: 100%;
  height: 92px;
  left: 0;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
}

.nav a {
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #27342e;
  padding: 10px 12px;
}

/* Headline */

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  position: absolute;
  width: 375px;
  height: 726px;
  left: 0;
  top: 92px;
  background-image: url("assets/images/header-illsutration-mobile.png");
  background-repeat: no-repeat;
}

.headline-title {
  position: static;
  height: 192px;
  left: 24px;
  top: 64px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0;
}

.headline-title span {
  color: #78c078;
}

.headline-description {
  position: static;
  width: 327px;
  height: 164px;
  left: 24px;
  top: 314px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.headline-icons {
  display: flex;
  gap: 20px;
  position: static;
  width: 170.17px;
  height: 20px;
  left: 102.42px;
  top: 536px;
  flex-grow: 0;
  margin: 58px 0;
  background: #fff;
}

.headline-icons li {
  list-style: none;
}

.headline-dropdown {
  position: static;
  width: 327px;
  height: 48px;
  left: 24px;
  top: 614px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.headline-dropdown a img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff;
  left: calc(50% - 40px / 2 + 0.5px);
  border-radius: 32px;
}

.headline-dropdown a img:hover {
  background: #e7e2e2;
  color: #172b4d;
}

.headline-dropdown a img:active {
  background: #c9b5b5;
}

.headline-dropdown a img:enabled {
  background: #e2d6d6;
}

.headline-icons li a img:hover {
  background: #d2dae6;
}

.headline-icons li a img:active {
  background: #dce0e6;
}

.headline-icons li a img:enabled {
  background: #eef2f8;
}

/* Headline */

.works {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  padding: 64px 24px;
  position: absolute;
  width: 379px;
  height: 3283px;
  left: 0;
  top: 708px;
}

.works-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 327px;
  height: 125px;
  left: 26px;
  top: calc(50% - 125px / 2 - 1515px);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 62px;
}

.works-title h1 {
  width: 327px;
  height: 97px;
  left: 0;
  top: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #172b4d;
}

.works-title span {
  position: static;
  width: 48px;
  height: 4px;
  left: 139.5px;
  top: 121px;
  background: #36b37e;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-cards {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, auto);
  justify-items: center ;
  padding: 4px 2px;
  width: 331px;
  height: 2972px;
  top: 247px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 58px 0;
  gap: 24px;
}

.works-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.works-card span {
  height: 252px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: absolute;
  width: 327px;
  height: 222px;
  bottom: 0;
  background: #fff;
  border-radius: 8px;
}

.card1 {
  position: static;
  left: 0.6%;
  right: 0.6%;
  top: 0.13%;
  bottom: 83.92%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.card h2 {
  position: static;
  width: 295px;
  height: 57px;
  left: 16px;
  top: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0;
}

.works-card ul {
  display: flex;
  justify-content: center;
  height: 32px;
  margin: 16px 0;
  padding: 0;
}

.works-card ul li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  flex: none;
  flex-grow: 0;
  margin: 0 8px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.card a {
  text-decoration: none;
  display: flex;
  padding: 12px;
  width: 122px;
  height: 48px;
  justify-content: center;
  margin-top: 20px;
  background: #36b37f;
  border-color: #36b37f;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.card a:hover {
  background: #36b37f;
}

.card a:active {
  background: #008552;
}

.card2 {
  position: static;
  left: 0.6%;
  right: 0.6%;
  top: 16.89%;
  bottom: 67.16%;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
}

.card3 {
  position: static;
  left: 0.6%;
  right: 0.6%;
  top: 16.89%;
  bottom: 67.16%;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0;
}

.card4 {
  position: static;
  left: 0.6%;
  right: 0.6%;
  top: 50.4%;
  bottom: 33.65%;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 24px 0;
}

.card5 {
  position: static;
  left: 0.6%;
  right: 0.6%;
  top: 67.16%;
  bottom: 16.89%;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 24px 0;
}

.card6 {
  position: static;
  left: 0.6%;
  right: 0.6%;
  top: 83.92%;
  bottom: 0.13%;
  flex: none;
  order: 5;
  flex-grow: 0;
  margin: 24px 0;
}
