* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 6715px;
}

@media (min-width: 992px) {
  body {
    width: 100%;
    height: auto;
    background: #fff;
  }
}

/* Header */

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 92px;
}

@media (min-width: 992px) {
  .header {
    justify-content: center;
    height: 72px;
  }
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 992px) {
  .desktop-nav {
    display: none;
  }
}

@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mobile-nav a {
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #27342e;
  padding: 10px 12px;
  animation-name: rotate-logo;
  animation-duration: 3s;
}

@media (min-width: 992px) {
  .desktop-nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    width: 100%;
  }

  .desktop-nav ul li {
    list-style: none;
  }

  .desktop-nav ul li a {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }
}

/* modal section */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #e5e5e5;
  visibility: hidden;
  opacity: 0;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 34px;
  height: 92%;
  overflow: auto;
  cursor: default;
  background: #fff;
  padding: 28px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.modal-bar {
  position: absolute;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;

  /* Mono/Black */

  background: #0d151e;
  border-radius: 10px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal-content span {
  display: flex;
  justify-content: flex-end;
  font-size: 34px;
  color: #67798e;
}

.modal-content ul li a {
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #3a4a42;
}

/* Headline */

.background {
  background-image: url("assets/images/header-illsutration-mobile.png");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .background {
    width: 100%;
    height: auto;
    background-image: url("assets/images/Header-llustration-desktop.png");
    padding: 0 150px;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 24px;
  height: 726px;
  background-image: url("assets/images/header-illsutration-mobile.png");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .headline {
    height: 756px;
    margin-top: 72px;
    margin-bottom: 86px;
    width: 100%;
    background-image: url("assets/images/Header-llustration-desktop.png");
    padding: 0 150px;
  }
}

.headline-title {
  display: flex;
  flex-direction: column;
  height: 192px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-top: 64px;
}

@media (min-width: 992px) {
  .headline-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #172b4d;
    margin-top: 100px;
  }
}

.headline-title span {
  color: #36b37e;
}

.headline-description {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 164px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 0;
  padding: 0 24px;
}

@media (min-width: 992px) {
  .headline-description {
    flex-direction: column;
    height: 96px;
    line-height: 32px;
    padding: 0 100px;
  }
}

.headline-icons {
  display: flex;
  gap: 20px;
  height: 20px;
  flex-grow: 0;
  margin: 58px 0 62px 0;
  background: #fff;
  padding: 0;
}

.headline-icons li {
  list-style: none;
}

.headline-dropdown {
  position: static;
  width: 100%;
  height: 48px;
  left: 24px;
  top: 614px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.headline-dropdown a img {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff;
  left: calc(50% - 40px / 2 + 0.5px);
  border-radius: 32px;
}

.headline-dropdown a img:hover {
  background: #e7e2e2;
  color: #172b4d;
}

.headline-dropdown a img:active {
  background: #c9b5b5;
}

.headline-dropdown a img:enabled {
  background: #e2d6d6;
}

.headline-icons li a img:hover {
  background: #d2dae6;
}

.headline-icons li a img:active {
  background: #dce0e6;
}

.headline-icons li a img:enabled {
  background: #eef2f8;
}

/* About */

.about {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  width: 100%;
  height: 1625px;
  background: url("assets/images/Mask-Group.svg") top -30px right no-repeat;
}

@media (min-width: 992px) {
  .about {
    height: 808px;
    padding: 0;
    justify-items: normal;
  }
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 350px;
  background: url("assets/images/illustration-\ about\ me-\ mobile.png") bottom left no-repeat;
}

@media (min-width: 992px) {
  .about-title {
    padding: 0 200px;
    height: 240px;
    gap: 20px;
  }
}

.about-title h2 {
  width: 100%;
  height: 48px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #172b4d;
  margin: 0;
}

.about-title p {
  display: flex;
  width: 351px;
  height: 189px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 24px 0;
}

@media (min-width: 992px) {
  .about-title p {
    width: 100%;
    height: 96px;
  }
}

.about .about-title a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 12px;
  transition: all 0.5s ease-in;
}

.about-cards {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 33.333%);
  justify-items: center;
  padding: 1px;
  width: 100%;
  height: 1106px;
}

@media (min-width: 992px) {
  .about-cards {
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 100%;
    height: 360px;
    width: 100%;
    align-content: center;
    justify-content: center;
    justify-items: normal;
    column-gap: 20px;
    padding: 0 100px;
  }
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 352px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 0;
  padding: 30px 0;
}

@media (min-width: 992px) {
  .about-card {
    height: 370px;
    width: 100%;
  }
}

.about-card li {
  list-style: none;
}

.about-card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.about-card-title h2 {
  height: 32px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.about-card-title ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  padding: 0;
}

.about-card-title ul li {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 12px;
  color: #36b37e;
  background: #fff;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

/* work -card title link */

.works-card .title a {
  text-decoration: none;
  display: flex;
  width: 122px;
  height: 48px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: #36b37f;
  border-color: #36b37f;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  transition: all 0.5s ease-in;
}

.modal-content ul li {
  list-style: none;
}

/* footer contact form */

.footer {
  display: flex;
  flex-direction: column;
  padding: 64px 24px;
  width: 100%;
  height: 879px;
}

.contact-form-text {
  display: flex;
  width: 100%;
  height: 363px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

.footer .contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.footer .contact-form form input {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  height: 48px;
  outline: none;
  margin: 10px 0;
  text-indent: 2px;
  padding: 3px;
}

.footer .contact-form form input::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

.footer .contact-form form textarea {
  width: 100%;
  height: 114px;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 10px 0;
  text-indent: 2px;
  padding: 3px;
  outline: none;
}

.footer .contact-form form textarea::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
}

.footer .contact-form form .get-in-touch {
  width: 150px;
  height: 48px;
  margin: 24px 0;
  background: #36b37f;
  border-radius: 4px;
  border: hidden;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  cursor: pointer;
}

.footer .contact-form form .get-in-touch:hover {
  background: #fff;
  font-size: 20px;
  color: #3be69f;
  border: 1px solid #3be69f;
}

.footer .contact-form form .get-in-touch:active {
  background: #008552;
}

/* footer icons */

.footer .footer-icons {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.footer .footer-icons li {
  margin: 0 12px;
}

.footer .footer-icons li a {
  text-decoration: none;
}

.footer > span {
  margin-top: 10px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

@media (min-width: 992px) {
  .footer {
    padding: 80px 0 0 0;
    height: auto;
    background-image:
      url("assets/icons/footer-left-frame.svg"),
      url("assets/icons/footer-right-frame.svg"),
      url("assets/icons/illustration-2-contact-form-desktop.svg");
    background-position: bottom 100px left 10px, bottom 100px right 10px, bottom 100px left 500px;
    background-size: 100px, 100px, 100px;
    background-repeat: no-repeat, no-repeat;
    gap: 200px;
  }
  
  .footer .contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    margin: 0 100px;
  }

  .contact-form-text {
    height: 256px;
    font-size: 30px;
    justify-content: center;
    text-align: start;
  }

  .footer .contact-form form {
    align-items: flex-start;
  }

  .footer .contact-form form .get-in-touch {
    width: 150px;
    font-weight: 500;
  }

  .footer .footer-icons {
    height: 72px;
    border-top: 1px solid#dfe1e6;
  }

  .footer > span {
    display: none;
  }
}

/* Works */

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 3283px;
}

@media (min-width: 992px) {
  .works {
    height: 1244px;
  }
}

.works-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 125px;
  left: 26px;
  margin: 64px 0 62px 0;
}

@media (min-width: 992px) {
  .works-title {
    width: 100%;
    height: 48px;
  }
}

.works-title h2 {
  width: 100%;
  height: 97px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 0;
}

.works-title span {
  position: static;
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  flex: none;
  margin-top: 24px;
}

@media (min-width: 992px) {
  .works-title span {
    display: none;
  }
}

.works-cards {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 470px);
  justify-items: center;
  height: 2972px;
  row-gap: 24px;
}

@media (min-width: 992px) {
  .works-cards {
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(2, 50%);
    height: 988px;
    width: 100%;
    align-content: center;
    justify-content: center;
    justify-items: normal;
    column-gap: 20px;
    padding: 0 100px;
  }
}

.works-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  transition: all 0.5s ease-in;
}

.works-card:hover {
  transform: scale(1.1);
}

.works-card span {
  height: 252px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.works-card .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 13px;
  width: 100%;
  height: 222px;
  background: #fff;
  border-radius: 8px;
  margin: 0;
}

@media (min-width: 992px) {
  .works-card .title {
    padding: 16px 0;
  }
}

.works-card .title a:hover {
  background: #fff;
  color: #36b37f;
  border: 1px solid #36b37f;
}

.works-card .title a:active {
  background: #008552;
}

.works-card .title h2 {
  width: 295px;
  height: 57px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 0;
}

.works-card .title ul {
  display: flex;
  height: 32px;
  margin: 16px 0;
  padding: 0;
}

@media (min-width: 992px) {
  .works-card .title ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: 42px;
    gap: 5px;
  }
}

.works-card .title ul li {
  float: right;
  list-style: none;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
  margin-right: 8px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

@media (min-width: 992px) {
  .works-card .title ul li {
    display: flex;
    margin-right: 4px;
    float: none;
  }
}

.about .about-title a:hover {
  background: #fff;
  border: 1px solid #36b37f;
  color: #36b37f;
}

/* Project details */

